.App {
  text-align: center;
  color: rgb(73, 248, 248);
  padding-top: 30px;
  font-size: 28px;
  text-shadow: 2px 2px black;
}

.container-counter{
  text-align: center
}
.plus{
  text-align: center;
  background-color:green;
}

.minus{
  text-align: center;
  background-color: red;
}

.text-counter{
  font-size: 28px;
  color: rgb(31, 82, 61);
  text-shadow: 1.5px 1.5px rgb(172, 235, 209);
}